<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Card da Mensagem -->
      <div class="card text-center shadow-lg">
        <div class="card-header bg-warning text-dark">
          <h5 class="mb-0">Senha esquecida</h5>
        </div>
        <div class="card-body">
          <!-- Ícone e Mensagem -->
          <div class="mb-3">
            <i class="bi bi-exclamation-triangle-fill text-warning" style="font-size: 3rem;"></i>
          </div>
          <p class="card-text">
            <strong>Entre em contato com seu gestor</strong> para solicitar uma nova senha.<br><br>Você receberá uma senha aleatória, e então, poderá alterar para uma de sua escolha.
          </p>
          <!-- Botão de Ok -->
          <a class="btn btn-primary" href="/">Ok</a>
        </div>
      </div>
    </div>
  </div>
</div>
