<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h5>Minha Conta</h5>
        </div>
        <div class="card-body">
          <form method="POST" action="/admin/my-account/{{user.userID}}/update" id="IVform" novalidate>
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control IVname" id="name" name="name" placeholder="Seu nome"
                value="{{user.name}}" />
              <span class="invalid-feedback IVnameError" id="nameError"></span>
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Telefone</label>
              <input type="tel" class="form-control IVphone" id="phone" name="phone" placeholder="Seu telefone"
                value="{{user.phone}}" />
              <span class="invalid-feedback IVphoneError" id="phoneError"></span>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control IVemail" id="email" name="email" placeholder="Seu email"
                value="{{user.email}}" />
              <span class="invalid-feedback IVemailError" id="emailError"></span>
              <small>Caso queira alterar seu e-mail, seu gestor deverá autorizar a alteração para confirmar. Você será
                notificado.</small>
            </div>
            <a href="/user/forgot-password" class="btn btn-danger mt-2">Esqueci minha senha</a>
        </div>

        <div class="d-flex justify-content-end mt-4">
          <a href="/admin" class="btn btn-secondary me-2">Voltar</a>
          <button type="submit" class="btn btn-success">
            Salvar
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>