<div class="text-center">
<h1 class="display-1 fw-bold text-danger">404</h1>
<h2 class="mb-3">Página não encontrada</h2>
<p class="mb-4 text-secondary">Não sabemos como você veio parar aqui. Você é algum explorador?</p>
<a href="/" class="btn btn-danger">Voltar para a home</a>
</div>