<form method="POST" action="/user/newaccount">
    <h4>Vamos criar a sua conta?</h4>
    <div class="form-group">
        <label for="firstName">Nome</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Sophia">
    </div>
    <div class="form-group">
        <label for="lastName">Sobrenome</label>
        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Jones">
    </div>
        <div class="form-group">
        <label for="phone">Telefone</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="+ 55 41 99999-9999">
    </div>
    <div class="form-group">
        <label for="company">Empresa</label>
        <input type="text" class="form-control" id="company" name="company" placeholder="My Company S.A.">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="example@gmail.com">
        <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu e-mail com outros.</small>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">Escolha uma senha forte, com pelo menos um número e um caractere especial.</small>
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirmar senha</label>
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Criar</button>
</form>
