<form method="POST" action="/user/newaccount">
    <h4>Vamos criar a sua conta?</h4>
    <div class="form-group">
        <label for="claimantFirstName">Nome</label>
        <input type="text" class="form-control" id="claimantFirstName" name="claimantFirstName" placeholder="Sophia">
    </div>
    <div class="form-group">
        <label for="claimantLastName">Sobrenome</label>
        <input type="text" class="form-control" id="claimantLastName" name="claimantLastName" placeholder="Jones">
    </div>
        <div class="form-group">
        <label for="claimantPhone">Telefone</label>
        <input type="tel" class="form-control" id="claimantPhone" name="claimantPhone" placeholder="+ 55 41 99999-9999">
    </div>
    <div class="form-group">
        <label for="claimantCompany">Empresa</label>
        <input type="text" class="form-control" id="claimantCompany" name="claimantCompany" placeholder="My Company S.A.">
    </div>
    <div class="form-group">
        <label for="claimantEmail">Email</label>
        <input type="email" class="form-control" id="claimantEmail" name="claimantEmail" aria-describedby="emailHelp" placeholder="example@gmail.com">
        <small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu e-mail com outros.</small>
    </div>
    <div class="form-group">
        <label for="claimantPassword">Senha</label>
        <input type="password" class="form-control" id="claimantPassword" name="claimantPassword" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">Escolha uma senha forte, com pelo menos um número e um caractere especial.</small>
    </div>
    <div class="form-group">
        <label for="claimantPasswordConfirm">Confirmar senha</label>
        <input type="password" class="form-control" id="claimantPasswordConfirm" name="claimantPasswordConfirm" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Criar</button>
</form>
