<div class="container mt-5">
  <h2 class="text-center mb-4"><i class="bi bi-building"></i> Gerenciar Empresa</h2>

  <!-- Company Selection -->
  <div class="mb-4">
    <label class="form-label">Selecionar Empresa</label>
    <div class="d-flex overflow-auto gap-3 pb-2" style="white-space: nowrap;">
          {{#each companies}}
          <div class="company-card card shadow-sm border-primary {{#if (eq ../companies.selected this._id)}}border-3 border-success{{/if}} " style="min-width: 220px; cursor: pointer;"
          data-company-id="{{this.companyID}}"
          >
            <div class="card-body text-center">
              <i class="bi bi-building text-primary" style="font-size: 2rem;"></i>
              <h5 class="card-title mt-2">{{this.name}}</h5>
              <p class="card-text small text-muted">{{this.document}}</p>
            </div>
          </div>
          {{/each}}

          <!-- New company -->
          <div class="new-company-card card shadow-sm border-dashed border-secondary" style="min-width: 220px; cursor: pointer;">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-plus-circle text-success" style="font-size: 2rem;"></i>
              <h6 class="mt-2">Criar nova empresa</h6>
            </div>
          </div>
        </div>
  </div>




  <!-- View / edit current company -->
  <!--

  -->
  
<script src="https://cdn.jsdelivr.net/npm/axios@1.8.4/dist/axios.min.js"></script>
<script src="/js/_searchcep.js"></script>
<script src="/js/_selectCompany.js"></script>
